{% extends 'intranet.html.twig' %}

{% block content %}

<ol class="breadcrumb">
	<li><a href="index.php?uc=intranet&action=accueil">Accueil</a></li>
	<li><a href="index.php?uc=formation&action=grille">Liste des formations</a></li>
	<li class="active">Ajouter une formation</li>
</ol>

<h2 class="titre_rubrique">Ajouter une formation</h2>

<form action="index.php?uc=formation&action=ajout" method="POST">

	<div class="form-group">
		<label for="code">Code</label>
		<input class="form-control" type="text" id="code_formation" name="code_formation" maxlength="4"
               data-validation="custom"
               data-validation-regexp="[{% for formation in formations %}{% if loop.first %}^{% else %}|{% endif %}({{ formation.codeFormation }}){% endfor %}]"
               required="required"
               data-validation-error-msg="Le code saisi est invalide ou déjà existant" />
	</div>
	<div class="form-group">
		<label for="mention">Mention</label>
		<input class="form-control" type="text" data-validation="required" data-validation-error-msg="Vous devez renseigner la mention de la formation" id="mention" name="mention" />
	</div>
	<!--<div class="form-group">
		<label for="faculte">Faculté</label>
		<select class="form-control" id="faculte" name="faculte">
			{# for faculte in facultes #}
			<option value="{# faculte.id#}">{# faculte.nom#}</option>
			{# endfor #}
		</select>
	</div>-->
    <input id="faculte" type="hidden" name="faculte" value="1" />
	<button class="btn btn-primary" type="submit">
		<span class="glyphicon glyphicon-floppy-disk"></span> Enregistrer
	</button>
</form>

<hr />

<a href="index.php?uc=formation&action=grille" class="btn btn-primary">
	<span class="glyphicon glyphicon-circle-arrow-left"></span> Précédent
</a>

{% endblock %}

{% block scripts %}
{{ parent() }}
<script type="text/javascript">
    $(function() {
        $.validate();

        $('#code_formation').on('input', function() {
            $('#code_formation').val($('#code_formation').val().toUpperCase());
            $.ajax({
                url: 'index.php?uc=formation&action=codeFormationPossible',
                type: 'get',
                dataType: 'text',
                success: function (text) {
                    $("#code_formation").attr("data-validation-regexp", text);
                    $.validate();
                }
            });
        });
    });
</script>
{% endblock %}
