{% extends 'intranet.html.twig' %}

{% block content %}

<form action="index.php" method="POST">

	<div class="form-group">
		<label for="mention">Mention</label>
		<input class="form-control" type="text" id="mention" name="mention" />
	</div>
	<div class="form-group">
		<label for="etape">Etape</label>
		<input class="form-control" type="text" id="etape" name="etape" />
	</div>
	<div class="form-group">
		<label for="code_diplome">Code diplôme</label>
		<input class="form-control" type="text" id="code_diplome" name="code_diplome" />
	</div>
	<div class="form-group">
		<label for="code_etape">Code étape</label>
		<input class="form-control" type="text" id="code_etape" name="code_etape" />
	</div>
	<div class="form-group">
		<label for="code_vet">Code VET</label>
		<input class="form-control" type="text" id="code_vet" name="code_vet" />
	</div>
	<div class="form-group">
		<label for="responsable">Responsable</label>
		<input class="form-control" type="text" id="responsable" name="responsable" />
	</div>
	<div class="form-group">
		<label for="ville">Ville</label>
		<input class="form-control" type="text" id="ville" name="ville" />
	</div>
	<div class="form-group">
		<label for="faculte">Faculté</label>
		<input class="form-control" type="text" id="faculte" name="faculte" />
	</div>
	<div class="form-group">
		<label for="langue_pdf">Langue du PDF</label>
		<input class="form-control" type="text" id="langue_pdf" name="langue_pdf" />
	</div>
	<input class="btn btn-primary" type="submit" value="Enregistrer" />
</form>

{% endblock %}

{% block scripts %}
{# parent() #}
{% endblock %}