{% extends 'intranet.html.twig' %}

{% block content %}

<ol class="breadcrumb">
	<li><a href="index.php?uc=intranet&action=accueil">Accueil</a></li>
	<li><a href="index.php?uc=formation&action=grille">Liste des formations</a></li>
	<li class="active">Ajouter une formation</li>
</ol>

<h2 class="titre_rubrique">Ajouter une formation</h2>

<form action="index.php?uc=formation&action=ajout" method="POST">

	<div class="form-group">
		<label for="code">Code</label>
		<input class="form-control" type="text" id="code" name="code" />
	</div>
	<div class="form-group">
		<label for="mention">Mention</label>
		<input class="form-control" type="text" id="mention" name="mention" />
	</div>
	<div class="form-group">
		<label>Ouverte</label>
		<div class="radio">
			<label for="ouverte_oui">
				<input type="radio" id="ouverte_oui" name="ouverte" value="1" checked /> Oui
			</label>
		</div>
		<div class="radio">
			<label for="ouverte_non">
				<input type="radio" id="ouverte_non" name="ouverte" value="0" /> Non
			</label>
		</div>
	</div>
	<button class="btn btn-primary" type="submit">
		<span class="glyphicon glyphicon-floppy-disk"></span> Enregistrer
	</button>
</form>

{% endblock %}

{% block scripts %}
    {# parent() #}
{% endblock %}