{% extends 'intranet.html.twig' %}

{% block content %}

<table class="table table-hover table-bordered table-striped">
	<tr>
		<th>Code</th>
		<th>Mention</th>
		<th>Ouverte</th>
		<th>Options</th>
	</tr>
	{% for formation in formations %}
	<tr>
		<td>{{ formation.code }}</td>
		<td>{{ formation.mention }}</td>
		<td>{{ formation.ouverte }}</td>
		<td><div class="btn-group">
                        <button type="button" class="btn btn-success">Consulter</button>
				<button type="button" class="btn btn-primary">Modifier</button>
				<button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Supprimer</button>
			</div>
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}