{% extends 'intranet.html.twig' %}

{% block content %}

<form action="" method="POST">
	<div class="form-group">
		<label for="code">Code</label>
		<input class="form-control" type="text" id="code" name="code" value="{{ formation.code }}" />
	</div>
	<div class="form-group">
		<label for="mention">Mention</label>
		<input class="form-control" type="text" id="mention" name="mention" value="{{ formation.mention }}" />
	</div>
	<div class="form-group">
		<label for="ouverte">Ouverte</label>
		<input class="form-control" type="text" id="ouverte" name="ouverte" value="{{ formation.ouverte }}" />
	</div>
	<input class="btn btn-primary" type="submit" value="Enregistrer" />
</form>

{% endblock %}