{% extends 'intranet.html.twig' %}

{% block content %}

<ol class="breadcrumb">
	<li><a href="index.php?uc=intranet&action=accueil">Accueil</a></li>
	<li><a href="index.php?uc=formation&action=grille">Liste des formations</a></li>
	<li class="active">Modifier une formation</li>
</ol>

<h2 class="titre_rubrique">Modifier une formation</h2>

<form action="index.php?uc=formation&action=modification" method="POST">
	<input type="hidden" id="code" name="code_formation" value="{{ formation.codeformation }}" />
	<div class="form-group">
		<label for="mention">Mention</label>
		<input class="form-control" type="text" id="mention" name="mention" value="{{ formation.mention }}" />
	</div>
	<div class="form-group">
		<label for="faculte">Faculté</label>
		<select class="form-control" id="faculte" name="faculte">
			{% for faculte in facultes %}
			<option {% if formation.faculte == faculte.id %} selected="selected" {% endif %} value="{{ faculte.id}}">{{ faculte.nom}}</option>
			{% endfor %}
		</select>
	</div>
	<button class="btn btn-primary" type="submit">
		<span class="glyphicon glyphicon-floppy-disk"></span> Enregistrer
	</button>
</form>

<hr />

<a href="index.php?uc=formation&action=grille"  class="btn btn-primary">
	<span class="glyphicon glyphicon-circle-arrow-left"></span> Précédent
</a>

{% endblock %}
