{% extends 'intranet.html.twig' %}

{% block content %}

<ol class="breadcrumb">
	<li><a href="index.php?uc=intranet&action=accueil">Accueil</a></li>
	<li><a href="index.php?uc=documentGeneral&action=grille">Liste des documents</a></li>
	<li class="active">Modifier un document</li>
</ol>

<h2 class="titre_rubrique">Modifier un document</h2>

<form action="index.php?uc=documentGeneral&action=modification" method="POST">
	<input type="hidden" id="id" name="id" value="{{ documentGeneral.id }}" />
	<div class="form-group">
		<label for="nom">Nom</label>
		<input class="form-control" type="text" id="nom" name="nom" value="{{ documentGeneral.nom }}" />
	</div>
	<button class="btn btn-primary" type="submit">
		<span class="glyphicon glyphicon-floppy-disk"></span> Enregistrer
	</button>
</form>

<hr/>

<a href="index.php?uc=documentGeneral&action=grille"  class="btn btn-primary">
	<span class="glyphicon glyphicon-circle-arrow-left"></span> Précédent
</a>

{% endblock %}

{% block scripts %}

{% endblock %}