{% extends 'layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Votre parcours</h3>
                    <br/>
                    <div class="progress progress-striped active">
                        <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 16%">
                            <span class="sr-only">16% Complete</span>
                        </div>
                    </div>
                </div><!-- /panel-heading -->

                <div class="panel-body">

                    <form role="form" action="index.php?uc=formulaire&action=traiterChoixFormation" id="formChoixFormation" method="post">

                        <fieldset>
                            <legend>Formation souhaitée</legend>
                            <div class="form-group">
                                <label for="liste1">Sélectionnez votre dernière formation effectuée</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <select class="form-control" name="derniere">
                                            <optgroup label="Licence">
                                                <option>L1 AES</option>
                                                <option>L2 AES</option>
                                                <option>L3 Parcours Travail et Ressources Humaines (TRH)</option>
                                                <option>L3 Parcours Gestion des Entreprises (GE)</option>
                                            </optgroup>
                                            <optgroup label="Master">
                                                <option>M1 Administration des Institutions Culturelles (AIC)</option>
                                                <option>M1 Aix Marseille Sciences Economiques</option>
                                                <option>M1 Aix Marseille Sciences Economiques parcours Magistere</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div><!-- /row -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <label for="liste2">Sélectionnez la formation souhaitée pour l'année scolaire 2014-2015</label>
                                <div class="row">
                                    <div class="col-md-12">

                                        <select class="form-control" name="souhaitee">
                                            <optgroup label="Licence">
                                                <option>L1 AES</option>
                                                <option>L2 AES</option>
                                                <option>L3 Parcours Travail et Ressources Humaines (TRH)</option>
                                                <option>L3 Parcours Gestion des Entreprises (GE)</option>
                                            </optgroup>
                                            <optgroup label="Master">
                                                <option>M1 Administration des Institutions Culturelles (AIC)</option>
                                                <option>M1 Aix Marseille Sciences Economiques</option>
                                                <option>M1 Aix Marseille Sciences Economiques parcours Magistere</option>
                                            </optgroup>
                                        </select>

                                    </div>
                                </div><!-- /row -->
                            </div><!-- /form-group -->
                            <input type="submit" class="btn btn-primary">
                        </fieldset>

                    </form>
                </div> <!-- panel-body -->
            </div><!-- panel panel-primary -->
        </div>
    </div>

{% endblock %}