{% extends 'layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">

            <h2 class="titre_rubrique">Votre parcours</h2>

            <form role="form"
                  action="index.php?uc=formulaire&action=traiterChoixFormation"
                  id="formChoixFormation" method="post">
                <input type="hidden" id="typeDossier" name="typeDossier"/>

                <fieldset>
                    <legend>Formation souhaitée</legend>
                    <div class="well well-fg">
                        <div id="divChoisie" class="form-group">
                            <label for="choisie">Sélectionnez la formation souhaitée
                                pour l'année scolaire
                                2014-2015</label>
                            <span class="en">Whish training</span>
                            <span class="label label-danger">Requis</span>
                            <select class="form-control" id="choisie" name="choisie">
                                <option value="">&mdash;
                                    Sélectionnez &mdash;</option>
                                {% for dossierPdf in dossiersPdf %}
                                    <option value="{{ dossierPdf.id }}">{{ dossierPdf.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="divDerniere" class="form-group"></div>
                        <div id="displayDocuments"></div>
                        <div id="divAllDocuments" class="form-group">
                            <label>Etez-vous en possession de tous les documents
                                demandés ?</label>

                            <div class="radio">
                                <label for="oui">
                                    <input type="radio" id="oui" name="allDocuments"
                                           value="oui"/> Oui
                                </label>
                            </div>
                            <div class="radio">
                                <label for="non">
                                    <input type="radio" id="non" name="allDocuments"
                                           value="non" checked/> Non
                                </label>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary"/>
                        <br/><br/>

                        <div id="msgErrorIne"></div>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="public/js/jquery-form-validator/jquery.form-validator.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=submit]').hide();
            $('#divAllDocuments').hide();
            $('#msgError').hide();

            //var choixFormation = $("select[name='derniere'] > option:selected").val();
            var choixFormation = $('#derniere').val();
            var autreFormation = $("#autre_formation");

            (choixFormation === "Autre") ? autreFormation.fadeIn("slow") : autreFormation.hide();

            $('#derniere').on('change', function () {
                choixFormation = $(this).val();
                (choixFormation === "0000") ? autreFormation.fadeIn("slow") : autreFormation.fadeOut("fast");
                getTypeDossier();
            });

            $('input[type=radio]').on('change', function () {
                if ($(this).val() == 'oui') {
                    $('input[type=submit]').show();
                } else {
                    $('input[type=submit]').hide();
                }
            });

            $('#choisie').on('change', function () {
                $('#divAllDocuments').show();

                $.ajax({
                    url: 'index.php?uc=formulaire&action=domainesDeCompatibilite',
                    type: 'post',
                    data: 'idDossierPdf=' + $('#choisie').val(),
                    dataType: 'json',
                    success: function (json) {
                        var divDerniere = $('<div></div>').attr('id', 'divDerniere').addClass('form-group');
                        var label = $('<label></label>').attr('for', 'derniere').html('Etes-vous en possession d\'un diplôme parmi celui ou ceux proposés ?');
                        var select = $('<select/>').attr('id', 'derniere').attr('name', 'derniere').addClass('form-control');
                        select.append($('<option></option>').attr('value', '').html('Autre'));
                        for (var i = 0; i < json.length; ++i) {
                            select.append($('<option></option>').attr('value', json[i].codeEtape).html(json[i].etape));
                        }
                        $('#divDerniere').html('');
                        $('#divDerniere').append(label);
                        $('#divDerniere').append(select);
                    }
                });

                $.ajax({
                    url: 'index.php?uc=formulaire&action=displayDocuments',
                    type: 'post',
                    data: 'idDossierPdf=' + $('#choisie').val(),
                    dataType: 'json',
                    success: function (json) {
                        $('#displayDocuments').empty();
                        if (!$('#displayDocuments').hasClass('alert') && !$('#displayDocuments').hasClass('alert-warning')) {
                            $('#displayDocuments').addClass('alert');
                            $('#displayDocuments').addClass('alert-warning');
                        }

                        var documentsGeneraux = json.general;
                        var documentsSpecifiques = json.specifique;
                        var listeDocumentsGeneraux = $('<ul></ul>');
                        var listeDocumentsSpecifiques = $('<ul></ul>');

                        documentsGeneraux.forEach(function (doc) {
                            var li = $('<li></li>').append(doc)
                            listeDocumentsGeneraux.append(li);
                        });
                        documentsSpecifiques.forEach(function (doc) {
                            console.log(doc)
                            var li = $('<li></li>').append(doc[0]);
                            if (doc[1] !== "") {
                                var link = $('<a></a>')
                                        .attr('href', doc[1]).
                                        append('Cliquez ici pour télécharger le document');
                                li.append(' - ')
                                        .append(link);
                            }
                            listeDocumentsSpecifiques.append(li);
                        });
                        var alert = $('<div></div>')
                                .addClass('alert')
                                .addClass('alert-danger')
                                .append(
                                        $('<button></button>')
                                                .addClass('close')
                                                .attr('data-dismiss', 'alert')
                                                .attr('aria-hidden', 'true')
                                                .append('&times;')
                                ).append('Pour postuler à cette formation, assurez vous d\'être en possession des documents ci dessous :');

                        $('#displayDocuments').before().append(alert);

                        $('#displayDocuments').append('<h4>Documents communs</h4>')
                                .append(listeDocumentsGeneraux);
                        if (documentsSpecifiques.length > 0) {
                            $('#displayDocuments').append('<br/><h4>Documents spécifiques à la formation choisie</h4>')
                                    .append(listeDocumentsSpecifiques);
                        }
                    }
                });
            });

            /*
             // Vérification formulaire
             $.validate({
             onError: function () {
             $('#msgErrorIne')
             .attr('class', 'alert alert-danger alert-dismissable')
             .append(
             $('<button/>')
             .attr('class', 'close')
             .attr('data-dismiss', 'alert')
             .attr('aria-hidden', 'true')
             .html('&times;'))
             .append('<strong>Attention!</strong> Veuillez indiquer votre numéro INE.')
             .show('fast');
             }
             });*/
        });
    </script>
{% endblock %}

