{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Sélection des voeux</h3>
                    <br/>
                    <div class="progress progress-striped active">
                        <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 48%">
                            <span class="sr-only">48% Complete</span>
                        </div>
                    </div>
                </div><!-- /panel-heading -->

                <div class="panel-body">
                    <form role="form" action="index.php?uc=formulaire&action=traiteChoixSpe" id="formChoixSpe" method="post">

                        <fieldset>
                            <legend>Choix de la spécialité</legend>

                            <div class="form-group">

                                <label for="voeu1">Sélectionnez votre voeu n°1</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <select multiple class="form-control" name="voeu1">
                                            <optgroup label="Recherche">
                                                <option>L1 AES</option>
                                                <option>L2 AES</option>
                                                <option>L3 Parcours Travail et Ressources Humaines (TRH)</option>
                                                <option>L3 Parcours Gestion des Entreprises (GE)</option>
                                            </optgroup>
                                            <optgroup label="Professionnel">
                                                <option>M1 Administrationxx des Institutions Culturelles (AIC)</option>
                                                <option>M1 Aix Marseille Sciences Economiques</option>
                                                <option>M1 Aix Marseille Sciences Economiques parcours Magistere</option>
                                            </optgroup>
                                        </select>
                                    </div><!-- /col-md-2 -->
                                </div><!-- /row -->

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="ville1" value="aix" checked>
                                                Aix-en-Provence
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="ville1" value="marseille">
                                                Marseille
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <label for="voeu2">Sélectionnez votre voeu n°2</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <select multiple class="form-control" name="voeu2">
                                            <optgroup label="Recherche">
                                                <option>L1 AES</option>
                                                <option>L2 AES</option>
                                                <option>L3 Parcours Travail et Ressources Humaines (TRH)</option>
                                                <option>L3 Parcours Gestion des Entreprises (GE)</option>
                                            </optgroup>
                                            <optgroup label="Professionnel">
                                                <option>M1 Administration des Institutions Culturelles (AIC)</option>
                                                <option>M1 Aix Marseille Sciences Economiques</option>
                                                <option>M1 Aix Marseille Sciences Economiques parcours Magistere</option>
                                            </optgroup>
                                        </select>
                                    </div><!-- /col-md-2 -->
                                </div><!-- /row -->

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="ville2" value="aix" checked>
                                                Aix-en-Provence
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="ville2" value="marseille">
                                                Marseille
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <label for="voeu3">Sélectionnez votre voeu n°3</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <select multiple class="form-control" name="voeu3">
                                            <optgroup label="Recherche">
                                                <option>L1 AES</option>
                                                <option>L2 AES</option>
                                                <option>L3 Parcours Travail et Ressources Humaines (TRH)</option>
                                                <option>L3 Parcours Gestion des Entreprises (GE)</option>
                                            </optgroup>
                                            <optgroup label="Professionnel">
                                                <option>M1 Administration des Institutions Culturelles (AIC)</option>
                                                <option>M1 Aix Marseille Sciences Economiques</option>
                                                <option>M1 Aix Marseille Sciences Economiques parcours Magistere</option>
                                            </optgroup>
                                        </select>
                                    </div><!-- /col-md-2 -->
                                </div><!-- /row -->

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="ville3" value="aix" checked>
                                                Aix-en-Provence
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="ville3" value="marseille">
                                                Marseille
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary">
                        </fieldset>
                    </form>
                </div> <!-- panel-body -->
            </div><!-- panel panel-primary -->
        </div>
    </div>

{% endblock %}