<div class="panel panel-primary">
    <div class="panel-heading">Documents à joindre / <span class="en_cadre">Documents to attach</span></div>
    <div class="panel-body">
        <b>Pièces générales à transmettre / <span class="en">Mains documents</span> :</b>
        <ul>
            <br/>
            {% for documentGeneral in documentsGeneraux %}
                <li><p>{{ documentGeneral.nom }}</p></li>
            {% endfor %}
        </ul>
        <br/>
        {% if documentsSpecifiques is not null %}
            <b>Pièces spécifiques à transmettre /
                <span class="en">Specific documents</span> : </b>
            <ul>
                <br/>
                {% for documentSpecifique in documentsSpecifiques %}
                    <li><p>{{ documentSpecifique.nom }}</p>
                        {% if documentSpecifique is not null %}

                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <br/>
        <div id="upload">Ajouter</div>
        <br>
    </div>
</div>
