Veuillez nous transmettre les pièces suivantes :
<ul>
	{% for documentGeneral in documentsGeneraux %}
	<li>{{ documentGeneral.nom }}</li>
    {% endfor %}
</ul>

<div id="upload">Ajouter</div><br>
<button type="button" class="btn btn-primary"><div id="startUpload">Commencer l'upload</div></button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			<div class="modal-body">
				Attention, le fichier a été supprimé.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
