<div class="panel panel-primary">
    <div class="panel-heading">Documents à joindre</div>
    <div class="panel-body">
        <b>Veuillez nous transmettre toutes les pièces suivantes :</b>
        <br/><br/>
        <ul>
            {% for documentGeneral in documentsGeneraux %}
                <li><p class="text-info">{{ documentGeneral.nom }}</p></li>
            {% endfor %}
        </ul>
        {% if documentsSpecifiques is not null %}
            Veuillez nous transmettre les pièces suivantes :
            <ul>
                {% for documentSpecifique in documentsSpecifiques %}
                    <li><p class="bg-warning">{{ documentSpecifique.nom }}</p>
                        {% if documentSpecifique is not null %}

                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <br/>

        <div id="upload">Ajouter</div>
        <br>
        <!--<button id="startUpload" type="button" class="btn btn-primary">Commencer l'upload</button>-->
    </div>
</div>
