<div class="panel panel-primary">
    <div class="panel-heading">Informations supplémentaires <span
                class="label label-danger">Requis</span></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                {{ form | raw }}
            </div>
        </div>
    </div>
</div>
