<div class="panel panel-primary">
    <div class="panel-heading">Informations supplémentaires</div>
    <div class="panel-body">
        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    {{ form|raw }}
                </div>
            </div>
        </div>
    </div>
</div>