<div class="panel panel-primary">
    <div class="panel-heading">Langues étrangères / <span class="en_cadre"> Foreign languages</span>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="form-group">
                <label for="langues">Lue(s), écrite(s), parlée(s)</label> / <span
                        class="en">reading, writing, speaking</span>
                <span class="label label-danger">Requis</span>
                <select class="form-control" name="langues[]" id="langues" multiple>
                    <option value="Français">Français</option>
                    <option value="Anglais">Anglais</option>
                    <option value="Espagnol">Espagnol</option>
                    <option value="Arabe">Arabe</option>
                    <option value="Chinois">Chinois</option>
                    <option value="Italien">Italien</option>
                    <option value="Allemand">Allemand</option>
                </select>
                <span class="help-block">Maintenez la touche <kbd>Ctrl</kbd> enfoncée pour sélectionner plusieurs langues</span>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Autres / <span class="en_cadre">Others</span></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="autres_elements">Autres éléments appuyant votre
                        candidature</label> / <span
                            class="en">More informations</span>
                    <textarea class="form-control" id="autres_elements"
                              name="autres_elements"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="activite">Activité actuelle *</label> / <span
                            class="en">Current situation (student, employee, other)</span>
                    <span class="label label-danger">Requis</span>
                    <textarea class="form-control required" id="activite"
                              name="activite"
                              data-validation="required"
                              data-validation-error-msg="Veuillez indiquer votre activité actuelle"></textarea>

                    <p class="help-block"><i>* Vous êtes salarié, vous souhaitez
                            bénéficier d'un congé individuel de
                            formation (CIF, DIF) ou d'une période
                            professionnalisation, vous êtes demandeur
                            d'emploi,
                            bénéficiaire du RSA, vous souhaitez effectuer une
                            procédure de VAE ou de VAP, vous avez
                            cessé vos études depuis au moins 2 ans, vous avez suivi
                            un cursus de formation en
                            alternance, vous avez plus de 28 ans : Contactez
                            rapidement le secrétariat de la
                            formation afin que votre dossier et les possibilités de
                            financement vous concernant
                            soient examinés au plus tôt.</i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
