{% extends 'layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Etape 5/5 : </h3>
                </div><!-- /panel-heading -->

                <div class="panel-body">
                    <form role="form" action="#" id="formPieceAJoindre" method="post" enctype="multipart/form-data" target="uploadFrame">

                        <fieldset>
                            <legend>Pour les titulaires de diplômes de l'union européenne</legend>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="uploadFile">Curriculum-vitae détaillé </label>
                                        <input id="" name="" type="file" />
                                    </div>
                                </div><!-- /row -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="uploadFile">Lettre de motivation manuscrite</label>
                                        <input id="" name="" type="file" />
                                    </div>
                                </div><!-- /row -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="uploadFile">Relevé de notes du Baccalauréat ou équivalent (copie) et de toutes les années de formation suivies après le
                                            baccalauréat, si nécessaire traduits en français par un traducteur assermenté. *</label>
                                        <input id="" name="" type="file" />
                                    </div>
                                </div><!-- /row -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="uploadFile">Attestations des diplômes obtenus (Baccalauréat, DEUG, DUT, BTS... ) si nécessaire traduits en français par un traducteur assermenté. *</label>
                                        <input id="" name="" type="file" />
                                    </div>
                                </div><!-- /row -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="uploadFile">Eventuellement, pour les étudiants en D.U.T, avis pédagogique du professeur responsable.</label>
                                        <input id="" name="" type="file" />
                                    </div>
                                </div><!-- /row -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="uploadFile">Pour les étudiants de classes préparatoires : avis pour équivalence du conseil de classe, photocopies de leur
                                            admissibilité aux écoles de commerce, le cas échéant.</label>
                                        <input id="" name="" type="file" />
                                    </div>
                                </div><!-- /row -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="uploadFile">Pour les candidats ressortissants de l’union européenne (sauf bac français) : programme détaillé des enseignements suivis en dernière année d’études secondaires visé par le chef d’établissement (document traduit en français). *</label>
                                        <input id="" name="" type="file" />
                                    </div>
                                </div><!-- /row -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="uploadFile">Copie de la carte nationale d’identité ou du passeport. *</label>
                                        <input id="" name="" type="file" />
                                    </div>
                                </div><!-- /row -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="uploadFile">Une bonne connaissance de la langue française est exigée (TCF et TEF niveau 4 minimum requis, DELF B2,
                                            DALF C1), pour les ressortissants non-francophones. Fournir les résultats du test d’évaluation. *</label>
                                        <input id="" name="" type="file" />
                                    </div>
                                </div><!-- /row -->
                            </div><!-- /form-group -->

                        </fieldset>
                        <br/>

                        <fieldset>
                            <legend>Pour les titulaires de diplômes hors union européenne et hors dispositif campus-france</legend>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="uploadFile">Curriculum-vitae détaillé </label>
                                        <input id="" name="" type="file" />
                                    </div>
                                </div><!-- /row -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="uploadFile">Lettre de motivation manuscrite *</label>
                                        <input id="" name="" type="file" />
                                    </div>
                                </div><!-- /row -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="uploadFile">Traduction en français des diplômes étrangers et des relevés de notes, obligatoirement authentifiée par le Conseiller Culturel de l’Ambassade de France du pays d’origine ou par tout traducteur assermenté sous peine de rejet du dossier. *</label>
                                        <input id="" name="" type="file" />
                                    </div>
                                </div><!-- /row -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="uploadFile">Relevé de notes du diplôme de fin d’études secondaires et de toutes les années de formation suivies après ce diplôme, traduits en français par un traducteur assermenté.</label>
                                        <input id="" name="" type="file" />
                                    </div>
                                </div><!-- /row -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="uploadFile">Dans le cas où le diplôme est en cours d’obtention, fournir les relevés de notes obtenues dans l’année.</label>
                                        <input id="" name="" type="file" />
                                    </div>
                                </div><!-- /row -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="uploadFile">Programme des enseignements suivis antérieurement.</label>
                                        <input id="" name="" type="file" />
                                    </div>
                                </div><!-- /row -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="uploadFile">Un extrait d’acte de naissance avec sa traduction en français.</label>
                                        <input id="" name="" type="file" />
                                    </div>
                                </div><!-- /row -->
                            </div><!-- /form-group -->

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="uploadFile">Une bonne connaissance de la langue française est exigée (TCF et TEF niveau 4 minimum requis, DELF B2, DALF C1), pour les ressortissants non-francophones. Fournir les résultats du test d’évaluation.</label>
                                        <input id="" name="" type="file" />
                                    </div>
                                </div><!-- /row -->
                            </div><!-- /form-group -->
                        </fieldset>
                        <p class=""><i>* Si vous souhaitez envoyer plusieurs documents en même temps, veuillez les compresser dans un fichier ZIP.</i></p>

                        <input type="submit" value="Upload" class="btn btn-primary"/>

                    </form>
                </div> <!-- panel-body -->
            </div><!-- panel panel-primary -->
        </div>
    </div>

{% endblock %}