{% extends 'layout.html.twig' %}

{% block content %}

    <div class="row" style="margin-top: 1em;">
        <div class="col-md-12">
            <h2 class="titre_rubrique">Récapitulatif</h2>

        </div>
    </div>
{% endblock %}
