{% extends 'layout.html.twig' %}

{% block content %}

    <div class="row" style="margin-top: 1em;">
        <div class="col-md-12">
            <h2 class="titre_rubrique">Récapitulatif</h2>
            <div class="alert alert-success">Votre demande de candidature a bien été prise en compte.</div>
            <div class="well well-lg">
                Veuillez conserver le dossier de candidature PDF ci-dessous et les modalités de candidature (pas encore disponible).
            </div>
            <object data="./dossiers/{{ code }}/Candidatures/{{ ine }}/Candidature-{{ ine }}.pdf" type="application/pdf"
                    width="100%"
                    height="700px">
                <p>Alternative text - include a link <a href="myfile.pdf">to the PDF!</a></p>
            </object>

        </div>
    </div>
{% endblock %}
