{% extends 'layout.html.twig' %}

{% block content %}

    <div class="row" style="margin-top: 1em;">
        <div class="col-md-12">
            <h2 class="titre_rubrique">Récapitulatif</h2>
            <div class="alert alert-success">Votre demande de candidature a bien été prise en compte.</div>
            <div class="well well-lg">
                Veuillez conserver le dossier de candidature PDF ci-dessous et les modalités de candidature (pas encore disponible).
                (Si le PDF ne s'affiche pas correctement, veuillez recharger la page)
            </div>
            <div id="loading" style="text-align: center;"></div>
            <object id="pdfPreview" data="./dossiers/{{ code }}/Candidatures/{{ ine }}/Candidature-{{ ine }}.pdf" type="application/pdf"
                    width="100%"
                    height="700px">
                <p>Si le PDF ne s'affiche pas, veuillez recharger la page.</p>
            </object>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#pdfPreview').hide();
            $('#loading').append(
                    $('<img/>').attr('src', 'public/img/layout/ajax-loader.gif')
            ).append($('<div/>').text('Veuillez patienter ...'));
            setTimeout(function () {
                $('#loading').fadeOut('fast');
                $('#pdfPreview').fadeIn('slow');
            }, 6000);
        });
    </script>
{% endblock %}
