{% extends 'intranet.html.twig' %}

{% block content %}

<h2 class="titre_rubrique">Ajouter une information</h2>

    <form action="index.php?uc=information&action=ajout" method="POST">
		<input type="hidden" id="code" name="code" value="{{ code }}" />
        <div class="form-group">
            <label for="nom">Type</label>
            <select class="form-control" id="nom" name="nom">
				{% for type in types %}
				<option value="{{ type.nom }}">{{ type.libelle }}</option>
				{% endfor %}
			</select>
        </div>
        <div class="form-group">
            <label for="libelle">Libellé</label>
            <input class="form-control" type="text" id="libelle" name="libelle" />
        </div>
        <div class="form-group">
            <label for="explications">Explications</label>
            <input class="form-control" type="text" id="explications" name="explications" />
        </div>
        <input class="btn btn-primary" type="submit" value="Enregistrer" />
    </form>

{% endblock %}

{% block scripts %}

{% endblock %}