<div class="panel panel-primary">

    <div class="panel-heading">
        <h3 class="panel-title">Inscription pour l'année scolaire 2013-2014</h3>
    </div><!-- /panel-heading -->

    <div class="panel-body">

    <form role="form" id="form_liste" action="controllers/form1.controller.php" method="post">
        <div class="form-group">

            <h5>Sélectionnez la formation souhaitée pour l'année scolaire 2014-2015</h5>
            <div class="row">
                <div class="col-xs-2">
                    
                    <select class="form-control" name="liste1">
                        <option>Cursus 1</option>
                        <option>Cursus 2</option>
                        <option>Cursus 3</option>
                        <option>Cursus 4</option>
                        <option>Cursus 5</option>
                    </select>

                </div><!-- /col-xs-2 -->            
            </div><!-- /row -->

            <br/>

            <h5>Sélectionnez la formation que vous avez suivi durant l'année scolaire 2013-2014</h5>
            <div class="row">
                <div class="col-xs-2">
                    
                    <select class="form-control" name="liste2">
                        <option>Cursus 1-2</option>
                        <option>Cursus 2-2</option>
                        <option>Cursus 3-2</option>
                        <option>Cursus 4-2</option>
                        <option>Cursus 5-2</option>
                    </select>

                </div><!-- /col-xs-2 -->
            </div><!-- /row -->
            
            <br/>
            <button type="submit" class="btn btn-primary">Valider</button>
            <div id="result_form1"></div>
        </form>

        </div><!-- /panel-body -->
    </div><!-- /form-group -->
</div><!-- /panel panel-primary -->


