{% extends 'intranet.html.twig' %}

{% block content %}

    <h2 class="titre_rubrique">Bienvenue sur l'intranet</h2>

    <div class="well">
        <h4>Que puis-je faire dans cet espace ?</h4>
        <p>
            Abusus enim multitudine hominum, quam tranquillis in rebus diutius rexit, ex agrestibus habitaculis urbes
            construxit multis opibus firmas et viribus, quarum ad praesens pleraeque licet Graecis nominibus
            appellentur, quae isdem ad arbitrium inposita sunt conditoris, primigenia tamen nomina non amittunt, quae
            eis Assyria lingua institutores veteres indiderunt.
            Nemo quaeso miretur, si post exsudatos labores itinerum longos congestosque adfatim commeatus fiducia vestri
            ductante barbaricos pagos adventans velut mutato repente consilio ad placidiora deverti.
            Nec sane haec sola pernicies orientem diversis cladibus adfligebat. Namque et Isauri, quibus est usitatum
            saepe pacari saepeque inopinis excursibus cuncta miscere, ex latrociniis occultis et raris, alente
            inpunitate adulescentem in peius audaciam ad bella gravia proruperunt, diu quidem perduelles spiritus
            inrequietis motibus erigentes, hac tamen indignitate perciti vehementer, ut iactitabant, quod eorum capiti
            quidam consortes apud Iconium Pisidiae oppidum in amphitheatrali spectaculo feris praedatricibus obiecti
            sunt praeter morem.
            Novitates autem si spem adferunt, ut tamquam in herbis non fallacibus fructus appareat, non sunt illae
            quidem repudiandae, vetustas tamen suo loco conservanda; maxima est enim vis vetustatis et consuetudinis.
            Quin in ipso equo, cuius modo feci mentionem, si nulla res impediat, nemo est, quin eo, quo consuevit,
            libentius utatur quam intractato et novo. Nec vero in hoc quod est animal, sed in iis etiam quae sunt
            inanima, consuetudo valet, cum locis ipsis delectemur, montuosis etiam et silvestribus, in quibus diutius
            commorati sumus.
            Ergo ego senator inimicus, si ita vultis, homini, amicus esse, sicut semper fui, rei publicae debeo. Quid?
            si ipsas inimicitias, depono rei publicae causa, quis me tandem iure reprehendet, praesertim cum ego omnium
            meorum consiliorum atque factorum exempla semper ex summorum hominum consiliis atque factis mihi censuerim
            petenda.

        </p>
    </div>

{% endblock %}
