{% extends 'intranet.html.twig' %}

{% block content %}
    <h2 class="titre_rubrique">Bienvenue sur l'intranet</h2>
    <h3 class="titre_rubrique2">Que puis-je faire dans cet espace ?</h3>
    <br/>
    <button class="btn btn-info tourAccueil" data-tour="tour1">Lancez le guide</button>
    <br/><br/>

    <div class="bs-callout bs-callout-warning">
        <h4>Secrétaires</h4>

        <p>Vous disposez des droits suivants : </p>
        <ul>
            <li>Vous pouvez consulter la liste des documents à joindre communs à
                toutes les formations lors d'une candidature ou d'une
                pré-inscription.
            </li>
            <li>Vous pouvez prévisualiser le pdf de
                candidature ou de pré-inscription.
            </li>
            <li>Vous pouvez consulter les étapes
                proposées pour une formation et les villes où elles se
                déroulents.
            </li>
            <li>Vous pouvez consulter les documents à
                joindre spécifiques pour une formation.
            </li>
            <li>Vous pouvez consulter les informations
                spécifiques requises par une formation.
            </li>
            <li>Vous pouver télécharger ou supprimer les
                dossiers candidature ou de pré-inscription d'une formation.
            </li>
        </ul>
    </div>
    <div class="bs-callout bs-callout-info">
        <h4>Responsables</h4>

        <p>Vous disposez de tous les droits octroyés aux secrétaires en plus de
            ceux listés ci-dessous :</p>
        <ul>
            <li>Vous pouvez ajouter/modifier/supprimer une formation</li>
            <li>Vous pouvez ajouter/modifier/supprimer des étapes pour une
                formation
            </li>
            <li>Vous pouvez ajouter/modifier/supprimer des documents à joindre
                spécifiques pour une formation
            </li>
            <li>Vous pouvez ajouter/modifier/supprimer des informations
                spécifiques requises par une formation.
            </li>
        </ul>
    </div>

    <div class="bs-callout bs-callout-danger">
        <h4>Administrateur</h4>
        <p>Vous disposez de tous les droits octroyés aux secrétaires et aux
            responsables en plus de ceux listés ci-dessous :</p>
        <ul>
            <li>Vous pouvez supprimer une formation</li>
            <li>Vous pouvez ajouter/modifier/supprimer
                documents à joindre communs à toutes les formations lors d'une
                candidature ou d'une pré-inscription.
            </li>
        </ul>
    </div>

{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="public/js/underscore.min.js"></script>
    <script type="text/javascript" src="public/js/backbone.min.js"></script>
    <script type="text/javascript" src="public/js/tourist.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var steps = [
                {
                    content: '<p>Accédez à l\'explorateur de fichiers et à la carte du site via cet onglet.</p>',
                    highlightTarget: true,
                    nextButton: true,
                    target: $('#gestion'),
                    my: 'top left',
                    at: 'left bottom'
                },
                {
                    content: '<p>Accédez aux formations en cliquant ici.</p>',
                    highlightTarget: true,
                    nextButton: true,
                    target: $('#formations'),
                    my: 'top left',
                    at: 'left bottom'
                },
                {
                    content: '<p>And then at this thing</p>',
                    highlightTarget: true,
                    nextButton: true,
                    target: $('#documents'),
                    my: 'top left',
                    at: 'left bottom'
                }
            ];

            var tour = new Tourist.Tour({
                steps: steps,
                tipClass: 'Bootstrap',
                tipOptions: { showEffect: 'slidein' }
            });
            $('.tourAccueil').click(function(){
                tour.start();
            });

        });

    </script>
{% endblock %}
