{% extends 'intranet.html.twig' %}

{% block content %}

<table class="table table-bordered" style="background-color: white;">
	<tr>
		<th rowspan="2"></th>
		<th colspan="4">Formation</th>
		<th colspan="4">Information</th>
		<th colspan="4">Voeu</th>
		<th colspan="4">Document spécifique</th>
		<th colspan="4">Document général</th>
	</tr>
	<tr>
		<th>Grille</th><th>Consulter</th><th>Ajouter</th><th>Modifier</th>
		<th>Grille</th><th>Consulter</th><th>Ajouter</th><th>Modifier</th>
		<th>Grille</th><th>Consulter</th><th>Ajouter</th><th>Modifier</th>
		<th>Grille</th><th>Consulter</th><th>Ajouter</th><th>Modifier</th>
		<th>Grille</th><th>Consulter</th><th>Ajouter</th><th>Modifier</th>
	</tr>
	</tr>
	<tr>
		<th>Doit exister</th>
		<td class="success"></td><td class="success"></td><td class="success"></td><td class="success"></td>
		<td class="success"></td><td class="success"></td><td class="success"></td><td class="danger"></td>
		<td class="success"></td><td class="success"></td><td class="success"></td><td class="success"></td>
		<td class="success"></td><td class="danger"></td><td class="success"></td><td class="success"></td>
		<td class="success"></td><td class="danger"></td><td class="success"></td><td class="success"></td>
		<td></td><td></td><td></td><td></td>
	</tr>
	<tr>
		<th>Existe</th>
		<td class="success"></td><td class="success"></td><td class="success"></td><td class="success"></td>
		<td class="success"></td><td class="success"></td><td class="success"></td><td class="danger"></td>
		<td class="success"></td><td class="success"></td><td class="success"></td><td class="success"></td>
		<td></td><td></td><td></td><td></td>
		<td></td><td></td><td></td><td></td>
	</tr>
	<tr>
		<th>Précédent</th>
		<td></td><td></td><td></td><td></td>
		<td></td><td></td><td></td><td></td>
		<td></td><td></td><td></td><td></td>
		<td></td><td></td><td></td><td></td>
		<td></td><td></td><td></td><td></td>
	</tr>
	<tr>
		<th>Breadcrumbs</th>
		<td></td><td></td><td></td><td></td>
		<td></td><td></td><td></td><td></td>
		<td></td><td></td><td></td><td></td>
		<td></td><td></td><td></td><td></td>
		<td></td><td></td><td></td><td></td>
	</tr>
</table>

{% endblock		%}