{% extends 'intranet.html.twig' %}

{% block content %}

    <table class="table table-hover table-bordered table-striped">
        <tr>
            <th>Id</th>
            <th>Libellé pièce</th>
            <th>Options</th>
        </tr>
        {% for pieceAJoindreGenerale in piecesAJoindreGenerale %}
            <tr>
                <td>{{ pieceAJoindreGenerale.id }}</td>
                <td>{{ pieceAJoindreGenerale.libelPiece }}</td>
                <td><div class="btn-group">
                        <button type="button" class="btn btn-success">Consulter</button>
                        <button type="button" class="btn btn-primary">Modifier</button>
                        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Supprimer</button>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}