{% extends 'layout.html.twig' %}

{% block content %}

<h1>Bienvenue sur le site d'inscription de la Faculté d'Economie Gestion.</h1>
<br/>
<a href="http://localhost/FEGProject/index.php?uc=formation&action=grille">Lien intranet</a>
<br/>
<a href="http://localhost/FEGProject/index.php?uc=formulaire">Lien formulaire</a>

{% endblock %}