{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

    <div class="row">
        <div class="col-md-2">
			<div class="panel panel-primary">
				<div class="panel-heading">Accueil ({{ session.name}})</div>
				<div class="panel-body">
					<ul class="nav nav-pills nav-stacked">
						<li class="{% if get.uc == 'intranet' and get.action == 'accueil' %}active{% endif %}"><a href="index.php?uc=intranet&action=accueil">Accueil</a></li>
						<li class="{% if get.uc == 'intranet' and get.action == 'carte' %}active{% endif %}"><a href="index.php?uc=intranet&action=carte">Carte</a></li>
						<li class="{% if get.uc == 'intranet' and get.action == 'explorateur' %}active{% endif %}"><a href="index.php?uc=intranet&action=explorateur">Explorateur</a></li>
						<li><a href="index.php?uc=utilisateur&action=deconnexion">Se déconnecter</a></li>
					</ul>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">Formations</div>
				<div class="panel-body">
					<ul class="nav nav-pills nav-stacked">
						<li class="{% if get.uc == 'formation' and get.action == 'grille' %}active{% endif %}"><a href="index.php?uc=formation&action=grille">Liste</a></li>
						<li class="{% if get.uc == 'formation' and get.action == 'ajouter' %}active{% endif %}"><a href="index.php?uc=formation&action=ajouter">Ajouter</a></li>
                        <li class="{% if get.uc == 'intranet' and get.action == 'liensFormation' %}active{% endif %}"><a href="index.php?uc=intranet&action=liensFormation">Liens</a></li>
					</ul>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">Documents généraux à joindre</div>
				<div class="panel-body">
					<ul class="nav nav-pills nav-stacked">
						<li class="{% if get.uc == 'documentGeneral' and get.action != 'ajouter' %}active{% endif %}"><a href="index.php?uc=documentGeneral&action=grille">Liste</a></li>
						<li class="{% if get.uc == 'documentGeneral' and get.action == 'ajouter' %}active{% endif %}"><a href="index.php?uc=documentGeneral&action=ajouter">Ajouter</a></li>
					</ul>
				</div>
			</div>
        </div>
        <div id="content" class="col-md-10 well-feg">
            {% block content %}

			{% endblock %}

            <footer>
                <p class="text-muted text-center" style="margin-top: 2em;">© 2 0 1 4 - F E G - P R O J E C T | MADE BY COHEN-GUISSANI-KARAGOZ-MEAS</p>
            </footer>

        </div>
    </div>
    <div style="margin-bottom: 2em;"></div>

</div><!-- container -->

{% endblock %}
