{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col-md-2">
                <div class="panel panel-primary-bt">
                    <div class="panel-heading">Formations</div>
                    <table class="table">
                        <tr>
                            <td>
                                <a href="http://localhost/FEGProject/index.php?uc=formulaire&action=choixFormation">Formation souhaitée</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="http://localhost/FEGProject/index.php?uc=formulaire&action=informationsGenerales">Informations personnelles</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="http://localhost/FEGProject/index.php?uc=formulaire&action=choixVoeux">Choix des spécialités/voeux</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="http://localhost/FEGProject/index.php?uc=formulaire&action=postBacExperiences">Cursus Post-bac et expériences professionnelles</a>
                            </td>
                        </tr>
                        
						<tr>
                            <td>
                                <a href="http://localhost/FEGProject/index.php?uc=formulaire&action=informationsSpecifiques">Informations spécifiques</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="http://localhost/FEGProject/index.php?uc=formulaire&action=documentsSpecifiques">Document à joindre spécifique</a>
                            </td>
                        </tr>
						<tr>
                            <td>
                                <a href="http://localhost/FEGProject/index.php?uc=formulaire&action=documentsGeneraux">Documents à joindre</a>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div id="content" class="col-md-10 well-feg">
                
                {% block content %}{% endblock %}

                <footer>
                    <p class="text-muted text-center">© 2014 FEG PROJECT | MADE BY COHEN-GUISSANI-KARAGOZ-MEAS | WE <3 BOOTSTRAP</p>
                </footer>

            </div>
        </div>

    </div><!-- container -->

{% endblock %}


