{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
	<div class="jumbotron">
		<h1>Inscription pour l'année scolaire 2013-2014</h1>
		<p class="text-muted">Bootstrap For Life</p>
	</div><!-- jumbotron -->

	<div class="row">

		<div class="col-md-8">
			{% block center %}{% endblock %}
		</div><!-- .col-md-8 -->
	</div><!-- /row -->
</div><!-- container -->

{% endblock %}