{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
	<div id="header"></div>

    <div class="row">
        <div class="col-md-2 menu">
            <ul>
                <li><a href="http://localhost/FEGProject/index.php?action=form-candidat-formation">Formation souhaitée</a></li>
                <li><a href="http://localhost/FEGProject/index.php?action=form-info-perso">Info personnelles</a></li>
                <li><a href="http://localhost/FEGProject/index.php?action=form-voeux">Choix spé</a></li>
                <li><a href="http://localhost/FEGProject/index.php?action=form-post-bac">Post-bac</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <h2 class="titre_rubrique">{{ titre2 }}</h2>
            {% block content %}{% endblock %}
        </div>
    </div>

    <div id="footer">
        <div class="footer_mention">
            © 2014 COHEN-GUISSANI-KARAGOZ-MEAS
        </div>
    </div>

</div><!-- container -->

{% endblock %}