{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col-md-2">
                <div class="panel panel-primary-bt">
                    <div class="panel-heading">Formations</div>
                    <table class="table">
                        <tr>
                            <td>
                                <a href="index.php?uc=formulaire&action=choixFormation">Formation souhaitée</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {% if session.grade > 1 %}
                                <a href="index.php?uc=intranet&action=accueil">Espace réservé au personnel</a>
                                {% else %}
                                <a href="index.php?uc=utilisateur&action=connecter">Espace réservé au personnel</a>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div id="content" class="col-md-10 well-feg">
                
                {% block content %}{% endblock %}

                <footer style="margin-top: 2em;">
                    <p class="text-muted text-center">© 2014 FEG PROJECT | MADE BY COHEN-GUISSANI-KARAGOZ-MEAS | WE <3 BOOTSTRAP</p>
                </footer>

            </div>
        </div>

    </div><!-- container -->

{% endblock %}


