{% extends 'base.html.twig' %}

{% block body %}

<div id="tools">
    <div class="outils">
        <div class="region region-tools">
            <div id="block-menu-menu-tools-menu" class="block block-menu">
                <div class="content">
                    <ul class="menu clearfix"><li class="first leaf dhtml-menu outils_element outils_element_intramu" id="dhtml_menu-1415"><a href="http://intramu.univ-amu.fr" class="">intrAMU</a></li>
                        <li class="leaf dhtml-menu outils_element outils_element_clef" id="dhtml_menu-314"><a href="http://ent.univ-amu.fr" class="">Accès ENT</a></li>
                        <li class="last leaf dhtml-menu outils_element outils_element_email" id="dhtml_menu-315"><a href="http://annuaire.univ-amu.fr" class="">Annuaire</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
	<div id="header"></div>

    <div class="row">
        <div class="col-md-2 menu">
            <div class="lien">Lien1</div>
            <div class="lien">Lien2</div>
            <div class="lien">Lien3</div>
        </div>
        <div class="col-md-10">
            <h2 class="titre_rubrique">{{ titre2 }}</h2>
            {% block rightContent %}{% endblock %}
        </div>
    </div>

    <div id="footer">
        <div class="footer_mention">
            © 2014 COHEN-GUISSANI-KARAGOZ-MEAS
        </div>
    </div>

</div><!-- container -->

{% endblock %}